html {
  box-sizing: border-box;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

.container {
  max-width: 964px;
  /* height: auto; */
  margin: 0 auto;
  padding: 0;
  border: 50px solid green;
  display: flex;
}
.pizza-price {
  flex: 1 1 30%;

  background: url("pizza.jpg") no-repeat center center/cover;
}
.pizza-price p {
  text-align: right;
  height: 100%;
  font-size: 1.5rem;
  background-color: rgba(0, 0, 0, 0.3);
  margin: 0;
  position: relative;
}
.pizza-price span {
  display: inline-block;
  background-color: white;
  padding: 5px 10px;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.pizza-vegetale {
  flex: 1 1 60%;
  padding-left: 30px;
  display: flex;
  flex-direction: column;
}
.pizza-delicious {
  padding: 0 10px;
  border-radius: 20px;

  text-transform: uppercase;
}
.vegeterian {
  margin-right: 20px;
  background-color: lightgreen;
}
.italian {
  background-color: cadetblue;
}
.info span {
  display: inline-block;
  padding: 0 10px;
}
.special {
  /* flex: 1 1 10%; */
  background-color: cadetblue;
  writing-mode: vertical-rl;
  text-align: center;
  color: white;
  font-size: 2rem;
  text-transform: uppercase;
}

@media (max-width: 500px) {
  .container {
    flex-direction: column;
  }

  .pizza-price p {
    height: 150px;
    overflow: hidden;
  }
  .special {
    writing-mode: horizontal-tb;
  }
}
